/* Estilos de reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.iconsReact {
  color: black;
}
